.jumbotron {
    background-color: #f9e6a8;
    border-bottom: black solid 1px;
}

p{
    font-size: 20px;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #f9e6a8;
}

.description{
    font-size: 14px;
    position: relative;
    bottom: 10px;
}

.instructions{
    font-size: 20px;
}

strong{
    font-size: 22px;
    text-decoration: underline;
}

label{
    font-size: 20px;
}

span{
    font-size: 24px;
}

#burger-name{
    width: 300px;
}

.btn{
    position: relative;
    bottom: 3px;
    border: black 1px solid;
    margin-left: 10px;
    padding: 4px;
    font-size: 14px;
}